
/* li::marker {font-weight: bold;} */

/* ol {list-style: none; counter-reset: li}

li::marker {
   content: counter(li);
    color: red;
   display: inline-block;
    width: 1em;
   margin-left: -1em
}
li {counter-increment: li} */
