
.taskInput{
   width:100%
}
.labeledInput{
   border: none;
   outline-width: 0;
}
/* .taskLabel{
} */

.crossOut {
   text-decoration: line-through;
   text-decoration-thickness: 1px;
}

.taskHolder{
   min-height: 1em;
   border-bottom: 0;
   border-top: 0;
   border-right: 0;
   padding-top: 5px;
   list-style-type: none;
}
.taskHolder .showSize{
   border-left: groove;
}

.hourLabel {
   width: 50px;
   display: inline-block;
}

.hourLabel .currentHour{
   font-weight: bold;
}