ul.sheetList {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
 }
 
 ul.sheetList li {
   float: left;
 }
 
 ul.sheetList li a {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;
 }
 ul.sheetList li a.remove {
   color:red;
 }

 ul.sheetList li a:hover {
   background-color: #111111;
 }


.taskInput{
   width:100%
}
.labeledInput{
   border: none;
   outline-width: 0;
}
/* .taskLabel{
} */

.crossOut {
   text-decoration: line-through
}

.taskHolder{
   min-height: 1em;
   border-bottom: 0;
   border-top: 0;
   border-right: 0;
   margin-top: 5px;
}
.taskHolder[size='2']{
   height: 40px;
   border-left: groove;
}
.taskHolder[size='3']{
   height: 60px;
   border-left: groove;
}
.taskHolder[size='4']{
   height: 80px;
   border-left: groove;
}